<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django-Project</title>
    <link rel="icon" href="{% static 'app/images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'app/css/fontAwesome.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
</head>
<body>
<h1>Hello World</h1>




    <script src="{% static 'app/js/jquery.js' %}"></script>
    <script src="{% static 'app/js/popper.js' %}"></script>
    <script src="{% static 'app/js/fontAwesome.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.js' %}"></script>
</body>
</html>